body {
	font-family: Butler;
	margin: 0;
	padding: 0;
	font-size: 20px;

	background: rgb(0,61,12);
background: linear-gradient(0deg, rgba(0,61,12,0.5) 0%, rgba(255,255,255,1) 100%);
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.title {
	display: inline-block;
	width: 50%;
}

.links {
	display: inline-block;
	width: 50%;
}

.hero {
	text-align: center;
	height: 100vh;
}

.hero .container {
	padding-top: 150px;
}

.hero h1 {
	
}

@keyframes strike{
	0%   { width : 0; }
	100% { width: 100%; }
}

.strike {
	position: relative;
	font-weight: bold;
	font-size: 40px;
}

.strike::after {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background: black;
	animation-name: strike;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; 
}

.climate {
	font-size: 54px;
	color: #005900;
}

.arrow {
	margin-top: 100px;
}

.next {
	text-align: center;
	height: 100vh;
}